@using CVProof.Utils;
@model CVProof.Web.Models.HeaderViewModel;
@{ Layout = "~/Views/Shared/_LayoutNoPadding.cshtml"; }

<div class="row">
    <div class="col-md-offset-4 col-md-4" style="display:inline">
        <div style="text-align: center">
            <img src="~/images/fileproof_logo.png" style="display:inline-block" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-1" style="display:inline; padding-top:30px;">
        <a href="javascript:history.back(1)" class="btn btn-lg"><i class="glyphicon glyphicon-circle-arrow-left" style="font-size:50px;"></i></a>
    </div>
    <div class="col-md-offset-1 col-md-1" style="display:inline; padding-top:30px;">
        <a href="javascript:history.forward(1)" class="btn btn-lg"><i class="glyphicon glyphicon-circle-arrow-right" style="font-size:50px;"></i></a>
    </div>
</div>
<div class="row">
    <div class="col-md-4" style="display:inline">
        <h2 style="margin:20px 20px 0px 0px;display:inline">Data container</h2>
        <h5 style="margin-top:20px;display:inline">ver. @Model.ContainerVersion</h5>
        <br />
    </div>
</div>
<div class="container-fluid" style="display:flex">
    <div class="col col-md-5">

        <div class="row">
            <div class="label">Id: @Model.HeaderId</div>
        </div>

        <div class="row" style="margin-top:30px;">
            <fieldset>
                <legend>Validator @if (!String.IsNullOrEmpty(Model.ValidationExpiry)) { Html.Raw("(validation expires: " + @Model.ValidationExpiry + ")"); }</legend>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-2" style="display:inline">
                        Id:
                    </div>
                    <div class="col-md-9" style="display:inline">
                        <a href="@Url.Action("Certificate",new { id= Model.ValidatorUuid })">@Model.ValidatorUuid.SubStringTo(7)</a>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-2" style="display:inline">
                        Name:
                    </div>
                    <div class="col-md-9" style="display:inline">
                        <a href="@Url.Action("Certificate",new { id= Model.ValidatorUuid })">@Model.ValidatorName.SubStringTo(7)</a>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-2" style="display:inline; padding-right:0px">
                        Delegation Proof Id:
                    </div>
                    <div class="col-md-9" style="display:inline">
                        <a href="@Url.Action("Certificate",new { id= Model.ValidatorLegitimationId })">@Model.ValidatorLegitimationId.SubStringTo(7)</a>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="row" style="margin-top:30px;">
            <fieldset>
                <legend>Issuer</legend>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-2" style="display:inline">
                        Id:
                    </div>
                    <div class="col-md-9" style="display:inline">
                        <a href="@Url.Action("Certificate",new { id= Model.IssuerUuid })">@Model.IssuerUuid.SubStringTo(7)</a>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-2" style="display:inline">
                        Name:
                    </div>
                    <div class="col-md-9" style="display:inline">
                        <a href="@Url.Action("Certificate",new { id= Model.IssuerUuid })">@Model.IssuerName.SubStringTo(7)</a>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="row" style="margin-top:30px;">
            <fieldset>
                <legend>Link</legend>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-2" style="display:inline">
                        Link:
                    </div>
                    <div class="col-md-9" style="display:inline">
                        @Html.DisplayFor(e => e.Link, new { htmlAttributes = new { style = "width:510px" } })
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="row" style="margin-top:30px;">
            <fieldset>
                <legend>Blockchain</legend>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-2" style="display:inline">
                        Timestamp:
                    </div>
                    <div class="col-md-9" style="display:inline">
                        @Model.Timestamp
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-2" style="display:inline">
                        Block&nbsp;No.:
                    </div>
                    <div class="col-md-9" style="display:inline; text-align:left">
                        <a href="https://ropsten.etherscan.io/block/@Model.BlockNumber">@Model.BlockNumber</a>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-2" style="display:inline">
                        Address:
                    </div>
                    <div class="col-md-9" style="display:inline">
                        <a href="https://ropsten.etherscan.io/tx/@Model.DataAddress">@Model.DataAddress</a>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="col col-md-offset-2 col-md-5" id="verifyFileArea">
        <form id="verifyFileForm" asp-controller="Contract" asp-action="VerifyFile" method="post" enctype="multipart/form-data">
            <fieldset>
                <legend>Verify file</legend>

                <div class="col-md-8" style="padding-left: 0px;margin-bottom:20px;">
                    <input type="file" multiple name="Files" id="Files" accept=".pdf" class="col-md-8">
                    <button id="clear" class="btn btn-default btn-xs">
                        clear selection
                    </button>
                </div>
                <div style="clear:both;">
                    <input type="button" id="verifyFileBtn" value="Upload Files" class="btn btn-default" data-autoupdateform="#verifyFileForm" />
                </div>
            </fieldset>
        </form>
    </div>

</div>

@section Scripts {
    <script type="text/javascript" src="~/js/bootstrap-filestyle.min.js"></script>
    <script type="text/javascript">

        var updateTextStatus = function (btn, data) {
            var textarea = $('#verifyTextArea');
            if (data) { textarea.addClass('make-green'); } else { textarea.addClass('make-red'); }
        };

        var updateFileStatus = function (btn, data) {
            var filearea = $('#verifyFileArea');
            if (data) { filearea.addClass('make-green'); } else { filearea.addClass('make-red'); }
        };

        var ajaxTextUpdate = function (e) {
            var textarea = $('#verifyTextArea');
            textarea.removeClass('make-red');
            textarea.removeClass('make-green');

            e.preventDefault();
            var $input = $(this);

            var formId = $input.attr('data-autoupdateform');
            var $form = $(formId);

            $form.on('submit', null, { callback: updateTextStatus, input: $input }, ajaxFormSubmit);
            $form.trigger('submit');
            $form.off('submit', null, ajaxFormSubmit);
        };

        var ajaxFileUpdate = function (e) {
            var filearea = $('#verifyFileArea');
            filearea.removeClass('make-red');
            filearea.removeClass('make-green');

            e.preventDefault();
            var $input = $(this);

            var formId = $input.attr('data-autoupdateform');
            var $form = $(formId);

            $form.on('submit', null, { callback: updateFileStatus, input: $input }, ajaxFormSubmit);
            $form.trigger('submit');
            $form.off('submit', null, ajaxFormSubmit);
        };

        $('#verifyFileBtn').click(ajaxFileUpdate);
        $('#verifyTextBtn').click(ajaxTextUpdate);

        $('#Files').filestyle({
            btnClass: 'btn-default',
            text: "Choose file",
            placeholder: "No file"
        });

        $('#clear').click(function (e) {
            e.preventDefault();
            $('#Files').filestyle('clear');
        });
    </script>
}


