@using CVProof.Utils;
@model CVProof.Web.Models.CertificateViewModel;
@{ Layout = "~/Views/Shared/_LayoutNoPadding.cshtml"; }
    
    <div class="col-md-4" style="padding:0px;text-align:center;">
        <div style="padding:0px;text-align:left;">
            @if (!String.IsNullOrEmpty(Model.DataAddress))
            {
                @Html.Raw($"<a href='https://ropsten.etherscan.io/tx/{Model.DataAddress}#eventlog'><img src='{Url.Content("~/images/blockchain-button.png")}'></a>");
            }
            else
            {
                @Html.Raw($"<a href='#'><img src='{Url.Content("~/images/blockchain-button.png")}'></a>");
            }
        </div>
        <div style="padding-top:100px">
            <a href='@Url.Action("Upload","Contract",new { Model.HeaderId })'><img src='~/images/uploads.png'></a>
        </div>
    </div>
    <div class="col-md-8">

        <div class="row" style="margin-top:10px;">
            <div class="col-md-3 col-sm-5 col-xs-5" style="display:inline-block;padding:6px 12px 6px 12px;font-size:22px;border-style:solid;border-width:2px;background-color:#eeeeee">
                ISSUED&nbsp;BY:<br/>
                &nbsp;
            </div>
            <div class="col-md-4 col-md-offset-1 col-sm-6 col-xs-6" style="display:inline-block; padding:0px 12px 0px 12px; font-size:18px;">
                <div style="text-align:left;">
                    @if (!String.IsNullOrEmpty(Model.IssuerName))
                    {
                        String link = "#";
                        if (!String.IsNullOrEmpty(Model.IssuerUuid)) { link = Url.Action("Certificate", new { id = Model.IssuerUuid }); }
                        @Html.Raw($"<a href='{ link }'>{ Model.IssuerName.SubStringTo(44) }</a>")
                    }
                    else
                    {
                        @Html.Raw("None");
                    }
                </div>
                <div style="text-align:left;">
                    @if (!String.IsNullOrEmpty(Model.IssuerUuid))
                    {
                        @Html.Raw($"<a href='{ Url.Action("Certificate", new { id = Model.IssuerUuid })}'>{ Model.IssuerUuid.SubStringTo(7) }</a>")
                    }
                    else
                    {
                        @Html.Raw("None");
                    }
                </div>
            </div>
            <div class="col-md-4" style="display:inline-block; padding:0px 12px 0px 12px;">
                @if (!String.IsNullOrEmpty(Model.IssuerImage))
                {
                    var imgSrc = String.Format("data:image/gif;base64,{0}", Model.IssuerImage);
                    <div style="width:100%;height:70px">                    
                        <img src="@imgSrc" style="max-width:100%;max-height:100%;" />
                    </div>
                }
            </div>
        </div>
        
        @if(Model.HasDelegation)
        {
            <div class="row" style="margin-top:10px;">
                <div class="col-md-3 col-sm-5 col-xs-5" style="display:inline-block; padding:6px 12px 6px 12px; font-size:22px; border-style:solid; border-width:2px; background-color:#eeeeee">
                    VALIDATED&nbsp;BY:<br/>
                    &nbsp;
                </div>
                <div class="col-md-1 col-sm-1 col-xs-1" style="display:inline-block; padding:0px 12px 0px 12px;">
                    @if (!String.IsNullOrEmpty(Model.ValidatorImage))
                    {
                        var imgSrc = String.Format("data:image/gif;base64,{0}", Model.ValidatorImage);                        
                        <img src="@imgSrc" style="max-width:100%;max-height:100%;min-width:50px;" />
                    }
                    else
                    {
                        @Html.Raw("&nbsp;")
                    }
                </div>
                <div class="col-md-4 col-sm-7 col-xs-7" style="display:inline-block; padding:0px 12px 0px 12px; font-size:18px;">
                    <div style="text-align:left;">
                        @if (!String.IsNullOrEmpty(Model.ValidatorName))
                        {
                            String link = "#";
                            if (!String.IsNullOrEmpty(Model.ValidatorUuid)) { link = Url.Action("Certificate", new { id = Model.ValidatorUuid }); }
                            @Html.Raw($"<a href='{ link }'>{ Model.ValidatorName.SubStringTo(44) }</a>")
                        }
                        else
                        {
                            @Html.Raw("None");
                        }
                    </div>

                    <div style="text-align:left;">
                        @if (!String.IsNullOrEmpty(Model.ValidatorUuid))
                        {
                            @Html.Raw($"<a href='{ Url.Action("Certificate", new { id = Model.ValidatorUuid })}'>{ Model.ValidatorUuid.SubStringTo(7) }</a>")
                        }
                        else
                        {
                            @Html.Raw("None");
                        }
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:10px;">
                <div class="col-md-3 col-sm-5 col-xs-5" style="display:inline-block; padding:6px 12px 6px 12px; font-size:22px; border-style:solid; border-width:2px; background-color:#eeeeee">
                    DELEGATION&nbsp;ID:
                </div>
                <div class="col-md-4 col-md-offset-1 col-sm-7 col-xs-7" style="display:inline-block; padding:6px 12px 6px 12px; font-size:22px;">
                    <div style="text-align:left;">
                        @if (!String.IsNullOrEmpty(Model.ValidatorLegitimationId))
                        {
                            @Html.Raw($"<a href='{ Url.Action("Certificate", new { id = Model.ValidatorLegitimationId })}'>{ Model.ValidatorLegitimationId.SubStringTo(7) }</a>")
                        }
                        else
                        {
                            @Html.Raw("None");
                        }
                    </div>
                </div>
            </div>
        }
        <div class="row" style="margin-top:10px;display:flex;">
            <div class="col-md-3 col-sm-5 col-xs-5" style="display:inline-block; padding:6px 12px 6px 12px; font-size:22px; border-style:solid; border-width:2px; background-color:#eeeeee">
                VALIDATED ON<br />
                <small>(blockchain&nbsp;timestamp)</small>
            </div>
            <div class="col-md-4 col-md-offset-1 col-sm-7 col-xs-7" style="padding:6px 12px 6px 12px; font-size:22px;">
                <div style="text-align:left;">
                    @if (Model.Timestamp != null)
                    {
                        @Html.Raw(Model.Timestamp.Value.ToString("g").Replace(" ", "&nbsp;"));
                    }
                    else
                    {
                        @Html.Raw("None");
                    }
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-3 col-sm-5 col-xs-5" style="display:inline-block; padding:6px 12px 6px 12px; font-size:22px; border-style:solid; border-width:2px; background-color:#eeeeee">
                VALIDATED FILE<br />
                <small>(archive)</small>
            </div>
            <div class="col-md-4 col-md-offset-1 col-sm-7 col-xs-7" style="display:inline-block; padding:6px 12px 6px 12px; font-size:22px;">
                <div style="text-align:left;">
                    @if (!String.IsNullOrEmpty(Model.Link))
                    {
                        @Html.Raw($"<a href='{Model.StorageBaseUrl}/{Model.StorageBucket}/{Model.Link}' download><i class='glyphicon glyphicon-download-alt' style='font-size:12px;'></i> Download</a>")
                    }
                    else
                    {
                        @Html.Raw("None");
                    }
                </div>
            </div>
        </div>
        @if(Model.HasAttachment)
        { 
            <div class="row" style="margin-top:10px;">
                <div class="col-md-3 col-sm-5 col-xs-5" style="display:inline-block; padding:6px 12px 6px 12px; font-size:22px; border-style:solid; border-width:2px; background-color:#eeeeee">
                    ATTACHMENT<br />
                    <small>(archive)</small>
                </div>
                <div class="col-md-4 col-md-offset-1 col-sm-7 col-xs-7" style="display:inline-block; padding:6px 12px 6px 12px; font-size:22px;">
                    <div style="text-align:left;">
                        @Html.Raw($"<a href='{Model.StorageBaseUrl}/{Model.StorageBucket}/{Model.Attachment}' download><i class='glyphicon glyphicon-download-alt' style='font-size:12px;'></i> Download</a>")
                    </div>
                </div>
            </div>
        }
        <div class="row" style="margin-top:10px;">
            <div class="col-md-3 col-sm-5 col-xs-5" style="display:inline-block; padding:6px 12px 6px 12px; font-size:22px; border-style:solid; border-width:2px; background-color:#eeeeee">
                PROOF<br>
                <small>(global hash)</small>
            </div>
            <div class="col-md-4 col-md-offset-1 col-sm-7 col-xs-7" style="display:inline-block; padding:6px 12px 6px 12px; font-size:22px;">
                <div style="text-align:left;">
                    @if (!String.IsNullOrEmpty(Model.GlobalHash))
                    {
                        @Html.Raw($"<a href='{ Model.GlobalHash }' class='clip' onclick='return false;'>{ Model.GlobalHash.SubStringTo(7) }&nbsp;[copy]</a>")
                    }
                    else
                    {
                        @Html.Raw("None");
                    }
                </div>
            </div>
        </div>
    </div>

@section Scripts {    
    <script src="//cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.4.0/clipboard.min.js"></script>
    <script type="text/javascript">
        new Clipboard('.clip', {
            text: function (trigger) {
                return trigger.getAttribute('href');
            }
        });
    </script>

    <script type="text/javascript" src="~/js/bootstrap-filestyle.min.js"></script>
    <script type="text/javascript">

        (function() {
            if ($('#isVerified').val() == 'True') {
                var fileareatrue = $('#verifyFileAreaTrue');
                var fileareafalse = $('#verifyFileAreaFalse');            
                if ($('#VerificationStatus').val() == 'True') { fileareatrue.addClass('make-blue'); } else { fileareafalse.addClass('make-red'); }
            }
        })();

        $('#Files').filestyle({
            btnClass: 'btn-default',
            text: "Choose file",
            placeholder: "No file"
        });

        $('#clear').click(function (e) {
            e.preventDefault();
            $('#Files').filestyle('clear');
        });
    </script>
}


