@model CVProof.Web.Models.VerifyViewModel;

<h2 style="margin-top:20px">Verify data</h2>
<br />

<div class="container-fluid" style="display: flex">    
    <div class="col col-md-4" id="verifyFileArea">
        <form id="verifyFileForm" asp-controller="Contract" asp-action="VerifyFile" method="post" enctype="multipart/form-data">
            <fieldset>
                <legend>Verify file</legend>
                <div class="input-group col-md-12">
                    <label class="btn btn-default btn-file col-md-4">
                        Browse <input type="file" name="Files" multiple style="display:none;" data-autoupdateform="#verifyFileForm" id="Files" />
                    </label>
                </div>                
            </fieldset>
        </form>
    </div>

    <div class="col col-md-4" id="verifyTextArea">
        @using (Html.BeginForm("VerifyText", "Contract", FormMethod.Post, new { id = "verifyTextForm" }))
        {
            <fieldset>
                <legend>Paste plain text</legend>
                @Html.TextAreaFor(e => e.Text, new { @class = "form-control", @cols = 80, @rows = 10 })
                <br />
                <input type="button" id="verifyTextBtn" value="Verify Text" class="btn btn-default" data-autoupdateform="#verifyTextForm" data-cvproof-url="@Url.Action("VerifyText", "Contract")" />
            </fieldset>                                  
        }
    </div>

    <div class="col col-md-4">
        @if (Model.Header != null)
        {
            <h3 style="margin:20px 0px 20px 0px">Result header</h3>
            <div class="row">
                <div style="display:inline" class="col-md-6">
                    @Html.LabelFor(e => e.Header.ContainerVersion)
                </div>
                <div style="display:inline" class="col-md-6">
                    @Html.DisplayFor(e => e.Header.ContainerVersion, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div style="display:inline" class="col-md-6">
                    @Html.LabelFor(e => e.Header.DataHash)
                </div>
            </div>
            <div class="row">
                <div class="class=" col-md-12"">
                    @Html.DisplayFor(e => e.Header.DataHash, new { @class = "form-control" })
                </div>
            </div>
            @*@Html.LabelFor(e => e.Header.HeaderId, new { @class = "form-control" })
                @Html.DisplayFor(e => e.Header.HeaderId, new { @class = "form-control" })
                @Html.DisplayFor(e => e.Header.Category, new { @class = "form-control" })
                @Html.DisplayFor(e => e.Header.ValidatorName, new { @class = "form-control" })
                @Html.DisplayFor(e => e.Header.RecipientName, new { @class = "form-control" })
                @Html.DisplayFor(e => e.Header.ValidatorUuid, new { @class = "form-control" })
                @Html.DisplayFor(e => e.Header.RecipientUuid, new { @class = "form-control" })
                @Html.DisplayFor(e => e.Header.PreviousHeaderId, new { @class = "form-control" })
                @Html.DisplayFor(e => e.Header.RecipientUuid, new { @class = "form-control" })
                @Html.DisplayFor(e => e.Header.NextHeaderId, new { @class = "form-control" })
                @Html.DisplayFor(e => e.Header.RecipientUuid, new { @class = "form-control" })
                @Html.DisplayFor(e => e.Header.Timestamp, new { @class = "form-control" })
                @Html.DisplayFor(e => e.Header.RecipientUuid, new { @class = "form-control" })
                @Html.DisplayFor(e => e.Header.BlockNumber, new { @class = "form-control" })
                @Html.DisplayFor(e => e.Header.DataAddress, new { @class = "form-control" })
                @Html.DisplayFor(e => e.Header.ValidationExpiry, new { @class = "form-control" })
                @Html.DisplayFor(e => e.Header.DataHash, new { @class = "form-control" })
                @Html.DisplayFor(e => e.Header.Nonce, new { @class = "form-control" })*@
        }
    </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">

        var updateTextStatus = function (btn, data) {
            var textarea = $('#verifyTextArea');            
            if (data) { textarea.addClass('make-green'); } else { textarea.addClass('make-red'); }
        };
        
        var updateFileStatus = function (btn, data) {
            var filearea = $('#verifyFileArea');
            if (data) { filearea.addClass('make-green'); } else { filearea.addClass('make-red'); }
        };

        var ajaxTextUpdate = function (e) {
            var textarea = $('#verifyTextArea');
            textarea.removeClass('make-red');
            textarea.removeClass('make-green');

            e.preventDefault();
            var $input = $(this);

            var formId = $input.attr('data-autoupdateform');
            var $form = $(formId);

            $form.on('submit', null, { callback: updateTextStatus, input: $input }, ajaxFormSubmit);
            $form.trigger('submit');
            $form.off('submit', null, ajaxFormSubmit);
        };

        var ajaxFileUpdate = function (e) {
            var filearea = $('#verifyFileArea');
            filearea.removeClass('make-red');
            filearea.removeClass('make-green');

            e.preventDefault();
            var $input = $(this);

            var formId = $input.attr('data-autoupdateform');
            var $form = $(formId);

            $form.on('submit', null, { callback: updateFileStatus, input: $input }, ajaxFormSubmit);
            $form.trigger('submit');
            $form.off('submit', null, ajaxFormSubmit);
        };
        
        $('#Files').change(ajaxFileUpdate);
        $('#verifyTextBtn').click(ajaxTextUpdate);
</script>
}